/* styles.css */
/* Font and Color Variables */
:root {
  --primary-color: #04bf8a;
  --green-main: #004d40;
  --hover-color: #028658;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #333333da;
  --background-color: #f9f9f9;
  --box-shadow-large: 0px 4px 40px rgba(0, 0, 0, 0.06);
}

/* General Styles */
body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: #f4f4f4;
  line-height: 1.6;
  text-align: justify;
}

/* Estilo da navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  position: relative;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.nav-item:hover a,
.nav-item:focus a {
  border-bottom: 2px solid var(--hover-color);
}

.hero-image {
  width: 100%;
  max-height: 43vh;
  padding-top: 0;
}

.hero-image img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  padding-top: 0;
}

.dropdown-content {
  border-radius: 10px;
  list-style: none;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 8px 16px var(--shadow-color);
  z-index: 1;
  transition: 0.6s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.6s;
}

.dropdown-content a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--hover-color);
}

/* Esconder o checkbox */
.menu-toggle {
  display: none;
}

/* Estilo do menu hamburguer */
.burger-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* Estilo da barra lateral */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: underline;
  font-size: 21px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--hover-color);
}

.link-azul {
  color: blue; /* Define a cor do link como azul */
  text-decoration: none; /* Remove a sublinha do link, opcional */
}

.link-azul:hover,
.link-azul:focus,
.link-azul:visited {
  color: blue; /* Garante que o link continue azul em todos os estados */
}

.main-content {
  transition: 0.3s ease;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
}

.main-content span a {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.quality {
  background-image: url(/source/assets/escolar-bg.jpg);
  border-radius: 20px;
  background-size: 50%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Cor branca com 50% de transparência */
  background-blend-mode: overlay; /* Combinar a cor de fundo e a imagem */
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality img {
  padding: 10px;
  width: 350px;
  height: auto;
}

.texto {
  text-align: justify;
  margin-left: 35px;
  width: 80%;
}

.texto p a,
.texto span {
  color: #3aa9ab;
  font-weight: bold;
}

.texto p a:hover,
.texto span:hover {
  color: #4be3e6;
}

.about {
  text-align: justify;
  background-color: #f8f8f8;
  padding: 1rem;
}

.sub-title {
  font-size: 1.8rem;
  padding-top: 20px;
}

.sub-title,
.sub-title span {
  padding-left: 20px;
  padding-bottom: 20px;
  color: #3aa9ab;
}

.menu-table {
  margin: 0 auto;
  text-align: center;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  background-color: rgb(245, 242, 242);
  padding: 2px 0;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
  box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
}

.menu-table table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
}

.menu-table .table-header th {
  display: table-cell;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0;
  background-color: #f4f4f4;
  border-bottom: 1px solid #c8cacc;
}

.menu-table table tr th {
  height: 56px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-align: center;
  padding: 0 10px;
  border-left: 1px solid #c8cacc;
  border-right: 1px solid #c8cacc;
}

.menu-table table tr th:first-child {
  border-left: none;
}

.menu-table table tr th:last-child {
  border-right: none;
}

.menu-table table tr.item td {
  border-bottom: 1px solid #c8cacc;
  border-left: 1px solid #c8cacc;
  border-right: 1px solid #c8cacc;
  padding: 0 10px;
}

.menu-table table tr.item td:first-child {
  border-left: none;
}

.menu-table table tr.item td:last-child {
  border-right: none;
}

.menu-table table tr.item {
  height: 60px;
}

.menu-table table tr td.icone {
  width: 5%;
}

.menu-table table tr td {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.25px;
}

/* Imagem Principal */

.san-image {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  box-shadow: 0 4px 8px var(--shadow-color);
  background-color: #fff;
  width: 800px;
}

.san-image img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.san-mobile {
  display: none;
}

.blockquote {
  padding: 10px;
}

/* Estilo do conteúdo */
.title {
  padding: 2rem;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.title h1 {
  font-size: 3rem;
  line-height: 1.1;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.title h1 span {
  font-size: 3rem;
  color: #9b9797;
  margin-bottom: 20px;
}

.title p {
  margin-bottom: 20px;
  line-height: 1.6;
  text-indent: 20px;
}

.frase-curta {
  font-weight: 500;
  font-size: 1.1rem;
}

.frase-curta span {
  font-weight: bold;
  color: #3aa9ab;
}

.blockquote {
  font-size: 1.2em;
  color: var(--primary-color);
  margin: 20px 0;
  padding-left: 20px;
  border-left: 5px solid var(--primary-color);
}

.blockquote p {
  font-size: 1.2em;
  color: var(--text-color);
  font-weight: bold;
}

.rules {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  border-radius: 20px;
  border: 3.5px solid;
  width: 300px;
  height: 250px;
  box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: 0.6s;
  overflow: hidden;
}

.rules:hover {
  height: 300px;
}

.rules .img-box {
  position: absolute;
  width: 300px;
  height: auto;
  top: 0px;
  transition: 0.6s;
}

.rules:hover .img-box {
  top: -80px;
  scale: 0.9;
}

.rules img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rules .content-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 400px;
  width: 100%;
  padding: 0px 10px;
  justify-content: center;
  height: 30px;
  overflow: hidden;
  transition: 0.6s;
}

.rules .content-box .read-more {
  justify-content: center;
  display: flex;
  padding: 20px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #3aa9ab;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.rules:hover .content-box {
  transition: 0.6s;
  top: 100px;
  height: 250px;
}

.rules-mobile {
  display: none;
}

/* Estilo do rodapé */
/* Footer Styles */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #004d40;
  color: white;
  padding: 2rem;
  border-top: 5px solid #04bf8a;
}

.footer-container h3 {
  font-size: 1.5rem;
}

.footer-container > div {
  flex: 1;
  padding: 0 1rem;
}

.footer-container h3 {
  margin-bottom: 1rem;
}

.footer-container p {
  margin: 0.5rem 0;
}

.footer-socials {
  text-align: center;
}
.footer-socials p {
  display: flex;
  justify-content: center;
}

.footer-socials a {
  margin: 0 0.5rem;
}

.footer-socials img {
  width: 30px;
  height: 30px;
}

.footer-copyright {
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
}

.footer-contacts,
.footer-socials {
  border-right: 2px solid #04bf8a;
}

.footer-contacts {
  border-right: none;
}

.footer-copyright p:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Botão Back to Top */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: background-color 0.3s, transform 0.3s;
}

#back-to-top:hover {
  background-color: var(--hover-color);
  transform: scale(1.1);
}

/* Mostrar o botão quando o usuário rolar para baixo */
body.scroll-top #back-to-top {
  display: block;
}

/* Adicionar ao final do arquivo global.css */
body.scroll-top #back-to-top {
  display: block;
}

#back-to-top {
  display: block;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .menu-toggle:checked ~ .sidebar {
    width: 250px;
  }
  .main-content {
    text-align: justify;
    margin: 0;
    padding: 5px;
  }

  .main-content p {
    padding: 10px;
    font-size: 24px;
  }

  .title {
    margin-right: 10px;
    justify-content: center;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100hv;
  }

  .menu-table {
    max-width: 95%;
    width: 100%;
    padding: 15px 0;
  }

  .menu-table table tr th,
  .menu-table table tr td {
    font-size: 14px;
    padding: 5px;
  }

  .menu-table .table-header th {
    font-size: 1rem;
    padding: 0px 0;
  }

  .menu-table table tr.item {
    height: auto;
  }

  .menu-table table tr td.icone img {
    width: 40px;
    height: 40px;
  }

  .san-image {
    display: none;
  }

  .san-mobile {
    display: block;
    margin: 2rem auto;
    box-shadow: 0 4px 8px var(--shadow-color);
    background-color: #fff;
    width: 95%;
    margin-bottom: 50px;
  }

  .san-mobile img {
    border: 10px solid white;
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.15);
  }

  .rules {
    display: none;
  }

  .rules-mobile {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    border-radius: 20px;
    border: 3.5px solid;
    width: 150px;
    height: 125px;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.15);
    position: relative;
    transition: 0.6s;
    overflow: hidden;
  }

  .rules-mobile:hover {
    height: 150px;
  }

  .rules-mobile .img-mobile {
    position: absolute;
    width: 150px;
    height: auto;
    top: 0px;
    transition: 0.6s;
  }

  .rules-mobile:hover .img-mobile {
    top: -40px;
    scale: 0.9;
  }

  .rules-mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .rules-mobile .content-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 200px;
    width: 100%;
    padding: 0px 10px;
    justify-content: center;
    height: 15px;
    overflow: hidden;
    transition: 0.6s;
  }

  .rules-mobile .content-box .read-more {
    justify-content: center;
    display: flex;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #3aa9ab;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }

  .rules-mobile:hover .content-box {
    transition: 0.6s;
    top: 50px;
    height: 125px;
  }

  .quality {
    background-size: 100%;
  }

  .quality img {
    width: 200px;
    height: auto;
  }

  .quality #image1 {
    width: 350px;
    padding-top: 50px;
  }

  .title {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
  }

  .about {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
  }

  .about p {
    max-width: 100%;
    width: 100%;
  }

  .texto {
    text-align: justify;
    margin-left: 0px;
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container > div {
    border-right: none;
    border-bottom: 1px solid #04bf8a;
    margin-bottom: 1rem;
    padding: 0;
  }

  .footer-container > div:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 480px) {
  .menu-table {
    width: 100%;
    padding: 5px 0;
  }

  .menu-table table tr th,
  .menu-table table tr td {
    font-size: 12px;
    padding: 3px;
  }

  .menu-table .table-header th {
    font-size: 1rem;
    padding: 5px 0;
  }

  .menu-table table tr td.icone img {
    width: 30px;
    height: 30px;
  }
}
