/* styles.css */
/* Font and Color Variables */
:root {
  --primary-color: #04bf8a;
  --green-main: #004d40;
  --hover-color: #028658;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #333333da;
  --background-color: #f9f9f9;
  --box-shadow-large: 0px 4px 40px rgba(0, 0, 0, 0.06);
}

/* General Styles */
body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: #f4f4f4;
  line-height: 1.6;
  text-align: justify;
}

/* Estilo da navbar */
.navbar {
  position: fixed; /* Fixa a navbar no topo */
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
  z-index: 1000; /* Garante que a navbar esteja sobreposta */
  display: flex; /* Usa Flexbox para alinhar os itens */
  justify-content: space-between; /* Espaço entre os itens */
  padding: 10px 20px; /* Adiciona padding */
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center; /* Alinha verticalmente os itens no centro */
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  position: relative;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.nav-item:hover a,
.nav-item:focus a {
  border-bottom: 2px solid var(--hover-color); /* Efeito de hover */
}

/* Estilo da imagem de fundo */
.hero-image {
  width: 100%;
  max-height: 43vh; /* Altura automática para manter a proporção */
  padding-top: 0;
}

.hero-image img {
  width: 100%;
  max-height: 450px;
  object-fit: cover; /* Cobre toda a área sem distorcer a imagem */
  padding-top: 0;
}

.dropdown-content {
  border-radius: 5px;
  list-style: none;
  display: none;
  position: absolute;
  background-color: #e3e0e0;
  box-shadow: 0px 8px 16px var(--shadow-color);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: var(--text-color);
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--hover-color);
}

.burger-menu {
  display: none;
}

/* Estilo da logo */
.navbar ul li.logo {
  margin-left: auto; /* Empurra a logo para a direita */
}

.navbar ul li.logo a img {
  height: 40px; /* Define a altura da logo */
  width: auto; /* Mantém a proporção da logo */
}

.main-content {
  margin: 0 auto;
  padding: 2rem;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
}

.main-content span a {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.quality {
  background-image: url(/Cozinha/Cozinha-Social/public/assets/1968650.jpg);
  border-radius: 20px;
  background-size: 50%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Cor branca com 50% de transparência */
  background-blend-mode: overlay; /* Combinar a cor de fundo e a imagem */
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality img {
  padding: 10px;
  width: 350px;
  height: auto;
}

.texto {
  margin-left: 35px;
  width: 80%;
}

.texto p a,
.texto span {
  color: #3aa9ab;
  font-weight: bold;
}

.texto p a:hover,
.texto span:hover {
  color: #4be3e6;
}

.restaurantes {
  list-style: none;
}

.restaurantes li {
  padding: 10px;
}

.restaurantes li a {
  color: #3aa9ab;
  text-decoration: none;
}

.restaurantes li a:hover {
  color: #4be3e6;
}

.about {
  background-color: #f8f8f8;
  padding: 1rem;
}

.sub-title {
  font-size: 1.8rem;
  padding-top: 20px;
}

.sub-title,
.sub-title span {
  padding-left: 20px;
  padding-bottom: 20px;
  color: #3aa9ab;
}

.menu-table {
  margin: 0 auto;
  text-align: center;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  background-color: rgb(245, 242, 242);
  padding: 2px 0;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
  box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
}

.menu-table table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
}

.menu-table .table-header th {
  display: table-cell;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0;
  background-color: #f4f4f4;
  border-bottom: 1px solid #c8cacc;
}

.menu-table table tr th {
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-align: center;
  padding: 0 10px;
  border-left: 1px solid #c8cacc;
  border-right: 1px solid #c8cacc;
}

.menu-table table tr th:first-child {
  border-left: none;
}

.menu-table table tr th:last-child {
  border-right: none;
}

.menu-table table tr.item td {
  border-bottom: 1px solid #c8cacc;
  border-left: 1px solid #c8cacc;
  border-right: 1px solid #c8cacc;
  padding: 0 10px;
}

.menu-table table tr.item td:first-child {
  border-left: none;
}

.menu-table table tr.item td:last-child {
  border-right: none;
}

.menu-table table tr.item {
  height: 60px;
}

.menu-table table tr td.icone {
  width: 5%;
}

.menu-table table tr td {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

/* Imagem Principal */

.san-image {
  display: flex;
  margin: 2rem auto;
  box-shadow: 0 4px 8px var(--shadow-color);
  background-color: #fff;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.san-image img {
  padding: 20px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

/* Estilo do conteúdo */
.title {
  padding: 2rem;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.title h1 {
  font-size: 3rem;
  line-height: 1.1;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.title h1 span {
  font-size: 3rem;
  color: #9b9797;
  margin-bottom: 20px;
}

.title p {
  margin-bottom: 20px;
  line-height: 1.6;
  text-indent: 20px;
}

.frase-curta {
  font-weight: 500;
  font-size: 1.1rem;
}

.frase-curta span {
  font-weight: bold;
  color: #3aa9ab;
}

.blockquote {
  font-size: 1.2em;
  color: var(--primary-color);
  margin: 20px 0;
  padding-left: 20px;
  border-left: 5px solid var(--primary-color);
}

.blockquote p {
  font-size: 1.2em;
  color: var(--text-color);
  font-weight: bold;
}

.map a {
  display: flex;
  justify-content: right;
  align-items: center;
  box-shadow: var(--box-shadow-large);
}

.map a img {
  margin-right: 100px;
  padding-bottom: 50px;
  margin-bottom: 340px;
  position: absolute;
}

/* Estilo do rodapé */
/* Footer Styles */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #004d40;
  color: white;
  padding: 2rem;
  border-top: 5px solid #04bf8a;
}

.footer-container h3 {
  font-size: 1.5rem;
}

.footer-container > div {
  flex: 1;
  padding: 0 1rem;
}

.footer-container h3 {
  margin-bottom: 1rem;
}

.footer-container p {
  margin: 0.5rem 0;
}

.footer-socials {
  text-align: center;
}
.footer-socials p {
  display: flex;
  justify-content: center;
}

.footer-socials a {
  margin: 0 0.5rem;
}

.footer-socials img {
  width: 30px;
  height: 30px;
}

.footer-copyright {
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
}

.footer-contacts,
.footer-socials {
  border-right: 2px solid #04bf8a;
}

.footer-contacts {
  border-right: none;
}

.footer-copyright p:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Botão Back to Top */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: background-color 0.3s, transform 0.3s;
}

#back-to-top:hover {
  background-color: var(--hover-color);
  transform: scale(1.1);
}

/* Mostrar o botão quando o usuário rolar para baixo */
body.scroll-top #back-to-top {
  display: block;
}

/* Adicionar ao final do arquivo global.css */
body.scroll-top #back-to-top {
  display: block;
}

#back-to-top {
  display: block;
}

@media (max-width: 768px) {
  .main-content {
    margin: 0;
    padding: 0;
  }

  .title {
    max-width: 100%;
    width: 100%;
    height: 100hv;
  }

  .menu-table {
    width: 90%;
    padding: 10px 0;
  }

  .menu-table table {
    width: 100%;
  }

  .menu-table table tr th,
  .menu-table table tr td {
    font-size: 14px;
    padding: 5px;
  }

  .menu-table .table-header th {
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .menu-table table tr.item {
    height: auto;
  }

  .menu-table table tr td.icone img {
    width: 40px;
    height: 40px;
  }

  .quality img {
    width: 200px;
    height: auto;
  }

  .quality #image1 {
    padding-top: 140px;
  }

  .map a {
    display: none;
  }

  .about {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container > div {
    border-right: none;
    border-bottom: 1px solid #04bf8a;
    margin-bottom: 1rem;
    padding: 0;
  }

  .footer-container > div:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 480px) {
  .menu-table {
    width: 100%;
    padding: 5px 0;
  }

  .menu-table table tr th,
  .menu-table table tr td {
    font-size: 12px;
    padding: 3px;
  }

  .menu-table .table-header th {
    font-size: 1rem;
    padding: 5px 0;
  }

  .menu-table table tr td.icone img {
    width: 30px;
    height: 30px;
  }
}
