/* styles.css */
/* Font and Color Variables */
:root {
  --primary-color: #04bf8a;
  --green-main: #004d40;
  --hover-color: #028658;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #333333da;
  --background-color: #f9f9f9;
  --box-shadow-large: 0px 4px 40px rgba(0, 0, 0, 0.06);
}

/* General Styles */
body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: #f4f4f4;
  line-height: 1.6;
  text-align: justify;
}

/* Estilo da navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  position: relative;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.nav-item:hover a,
.nav-item:focus a {
  border-bottom: 2px solid var(--hover-color);
}

.hero-image {
  width: 100%;
  max-height: 43vh;
  padding-top: 0;
}

.hero-image img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  padding-top: 0;
}

.dropdown-content {
  border-radius: 10px;
  list-style: none;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 8px 16px var(--shadow-color);
  z-index: 1;
  transition: 0.6s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.6s;
}

.dropdown-content a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--hover-color);
}

/* Esconder o checkbox */
.menu-toggle {
  display: none;
}

/* Estilo do menu hamburguer */
.burger-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* Estilo da barra lateral */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: underline;
  font-size: 21px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--hover-color);
}

.link-azul {
  color: blue; /* Define a cor do link como azul */
  text-decoration: none; /* Remove a sublinha do link, opcional */
}

.link-azul:hover,
.link-azul:focus,
.link-azul:visited {
  color: blue; /* Garante que o link continue azul em todos os estados */
}

.main-content {
  transition: 0.3s ease;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
}

.article-centralize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  margin-left: 35px;
  width: 80%;
}

.sub-title {
  font-size: 1.8rem;
  padding-top: 20px;
}

.sub-title span {
  color: #3aa9ab;
}

/* Estilo da imagem de fundo */
.hero-image {
  width: 100%;
  max-height: 43vh; /* Altura automática para manter a proporção */
  padding-top: 0;
}

.hero-image img {
  width: 100%;
  max-height: 450px;
  object-fit: cover; /* Cobre toda a área sem distorcer a imagem */
  padding-top: 0;
}

/* Imagem Principal */

.san-image {
  border-radius: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  box-shadow: 0 4px 8px var(--shadow-color);
  background-color: #fff;
}

.san-image img {
  border-radius: 20px;
  display: block;
  margin: 2rem auto;
  box-shadow: 0 4px 8px var(--shadow-color);
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

.san-mobile {
  display: none;
}

/* Estilo do conteúdo */
.title {
  padding: 2rem;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.title h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  color: #3aa9ab;
  margin-bottom: 20px;
}

.title h1 span {
  font-size: 2.5rem;
  color: #9b9797;
  margin-bottom: 20px;
}

.title blockquote {
  font-size: 1.2em;
  color: #04bf8a;
  margin: 20px 0;
  padding-left: 20px;
  border-left: 5px solid #04bf8a;
}

.title p {
  margin-bottom: 20px;
  line-height: 1.6;
  text-indent: 20px;
}

.indent {
  padding-left: 1px; /* Adiciona espaço antes da frase */
  display: inline-block; /* Garante que o padding seja aplicado corretamente */
}

.san-image {
  display: block;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.san-image img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* Estilo do rodapé */
/* Footer Styles */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #004d40;
  color: white;
  padding: 2rem;
  border-top: 5px solid #04bf8a;
}

.footer-container h3 {
  font-size: 1.5rem;
}

.footer-container > div {
  flex: 1;
  padding: 0 1rem;
}

.footer-container h3 {
  margin-bottom: 1rem;
}

.footer-container p {
  margin: 0.5rem 0;
}

.footer-socials {
  text-align: center;
}
.footer-socials p {
  display: flex;
  justify-content: center;
}

.footer-socials a {
  margin: 0 0.5rem;
}

.footer-socials img {
  width: 30px;
  height: 30px;
}

.footer-copyright {
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
}

.footer-contacts,
.footer-socials {
  border-right: 2px solid #04bf8a;
}

.footer-contacts {
  border-right: none;
}

/* Botão Back to Top */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: background-color 0.3s, transform 0.3s;
}

#back-to-top:hover {
  background-color: var(--hover-color);
  transform: scale(1.1);
}

/* Mostrar o botão quando o usuário rolar para baixo */
body.scroll-top #back-to-top {
  display: block;
}

/* Adicionar ao final do arquivo global.css */
body.scroll-top #back-to-top {
  display: block;
}

#back-to-top {
  display: block;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .menu-toggle:checked ~ .sidebar {
    width: 250px;
  }
  .main-content {
    text-align: justify;
    margin: 0;
    padding: 5px;
  }
  .main-content p {
    padding: 10px;
    font-size: 24px;
  }

  .title {
    margin-right: 10px;
    justify-content: center;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100hv;
  }

  .san-image {
    display: none;
  }

  .san-mobile {
    display: block;
    margin: 2rem auto;
    box-shadow: 0 4px 8px var(--shadow-color);
    background-color: #fff;
    width: 70%;
  }

  .san-mobile img {
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
    scale: 1.4;
    height: auto;
    display: block;
    margin: 0;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.15);
  }

  .texto {
    text-align: justify;
    margin-left: 0px;
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container > div {
    border-right: none;
    border-bottom: 1px solid #04bf8a;
    margin-bottom: 1rem;
    padding: 0;
  }

  .footer-container > div:last-child {
    border-bottom: none;
  }
}
